body {
  background-color: #F6E256;
}

.titles {
  text-align: center;
  font-family: 'Old Standard TT', serif;
  background-color: #80BB33;
  height: 125px;
}

nav {
  background-color: #8c4646;
}

nav li {
  display: inline;
  font-family: 'Old Standard TT', serif;
  margin: 0px 5px;
}

nav li a {
  text-decoration: none;
  color: #f2c69f;
}

ul {
  text-align: center;
}

img.logo {
  float: right;
  height: 100%;
}

h1 {
  font-size: 250%;
  margin: 10px 0px 10px 0px;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 120%;
  margin: 10px 0px 10px 0px;
}

th, td {
  border: 2px solid black;
}

table {
  border-collapse: collapse;
}

/*img.leftimg {
  float: left;
}*/

.bouttext {
  display: block;
  margin: 20px;
  flex: 1 1 auto;
}

/*.field {
  width: 500px;
}*/

.field-title {
  float: left;
  width: 250px;
  text-align: right;
  padding-right: 10px;
}

.coming-soon {
  text-align: center;
}

.current {
  font-weight: bold;
}

.locset {
  display: flex;
  justify-content: center;
}

.loc-addr {
  border:  2px solid #e7642c;
  width: 200px;
  margin: 10px;
  padding-left: 10px;
}

.cntrimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 100%;*/
}
